<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>org.itson.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>org.itson.servlets.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comentario</servlet-name>
        <servlet-class>org.itson.servlets.ComentarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comentario</servlet-name>
        <url-pattern>/Comentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/paginas/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/paginas/error-server.jsp</location>
    </error-page>
</web-app>
