/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 jun. 2023, 1:10:34 p. m.
    Author     : Usuario
*/
/* error_styles.css */

body {
    background-color: #f0f7fc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #2a5cad;
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    color: #2a5cad;
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    color: #2a5cad;
    font-size: 24px;
    margin-bottom: 30px;
}


